#!/bin/bash

## Trivial script to set up a private Tor network.

## This many authorities/relays/clients will be started
AUTHORITIES=3
RELAYS=15
CLIENTS=1

## Find the executables here
TOR=/path/to/tor
GENCERT=/path/to/tor-gencert

## If you want to run with a lowered ulimit -n to make sure
## you're not accidentally wasting your resources, set the
## ConnLimit config value here so that Tor still starts. This
## must be substantially higher than the number of authorities
## + relays.
CONNLIMIT=90

